NEXT_PUBLIC_BASE_URL=http://localhost:3000
SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
JWT_SECRET=YOUR_JWT_SECRET
ADMIN_USER=YOUR_ADMIN_USER
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD


